---
import "@/style/page.scss";
import Post from "@/components/Post.astro";
import dayjs from 'dayjs';
import BaseLayout from "@/layouts/BaseLayout.astro";
import { contentfulClient } from "@/lib/contentful";
import type { BlogPost } from "@/lib/contentful";
import type { Entry } from "contentful";

const entries = await contentfulClient.getEntries<BlogPost>({
  content_type: "pageBlogPost",
});

const posts = entries.items.reverse().map((item: Entry<BlogPost, undefined, string>) => {
  const { title, publishedDate, description, slug } = item.fields;
  return {
    title,
    slug,
    description,
    publishedDate: dayjs(publishedDate).format('YYYY-MM-DD'),
  };
});
---

<BaseLayout title={"한줄코딩 - Blog"}>
  <div class="space-y-4">
    {
      posts.map((post) => <Post url={`/blog/${post.slug}/`} title={post.title} pubDate={post.publishedDate}/>)
    }
  </div>
</BaseLayout>
