---
import "@/style/page.scss";
import Post from "@/components/Post.astro";
import dayjs from 'dayjs';
import BaseLayout from "@/layouts/BaseLayout.astro";

import { client, type BlogPost } from "@/lib/contentful";

const posts = (await client.getAllPosts()).map((post: BlogPost) => {
  return {
    id: post.id,
    title: post.title,
    publishedDate: dayjs(post.publishedDate).format('YYYY-MM-DD'),
    featuredImage: post.featuredImage,
    authorName: post.authorName,
  };
});
---

<BaseLayout title={"한줄코딩 - Blog"}>
  <div class="space-y-4">
    {
      posts.map((post: BlogPost) => <Post url={`/blog/post?id=${post.id}`} title={post.title} pubDate={post.publishedDate}/>)
    }
  </div>
</BaseLayout>
