---
import "@/style/page.scss";
import BaseLayout from "@/layouts/BaseLayout.astro";
import Post from "@/components/Post.astro";

export async function getStaticPaths() {
  const allPosts: Array<object> = await Astro.glob("../posts/**/*.md");
  const uniqueTags = [
    ...new Set(
      allPosts
        .map((post: any) => post.frontmatter.tags?.split(",").map((tag: string) => tag.trim()) || [])
        .flat()
    ),
  ];

  return uniqueTags.map((tag) => {
    const filteredPosts = allPosts.filter((post: any) => {
      const tagList = post.frontmatter.tags
        ?.split(",")
        .map((item: string) => item.trim()) || [];

        return tagList.includes(tag);
    }
    );
    return {
      params: { tag: tag },
      props: { posts: filteredPosts },
    };
  });
}

const { tag }: { tag: string } = Astro.params;
const { posts }: { posts: any } = Astro.props;
---

<BaseLayout title={tag}>
  <h1 class="text-2xl mb-8">
    <a href={`/tags`}><span class="tag text-xl">{tag}</span></a>태그와 연관 있는 글
  </h1>
  <ul>
    {posts.map((post: any) => <Post url={post.url} title={post.frontmatter.title} />)}
  </ul>
</BaseLayout>
