---
import "@/style/page.scss";
import BaseLayout from "@/layouts/BaseLayout.astro";
import { pubDateSort } from "@/lib/utils";

const allPosts: Array<object> = await Astro.glob("../posts/**/*.md");
const tags = [
  ...new Set(
    allPosts
      .sort(pubDateSort)
      .map((post: any) => post.frontmatter.tags?.split(",").map((tag: string) => tag.trim()) || [])
      .flat()
  ),
];

const title = "Tag Index";
---

<BaseLayout title={title}>
  <h1 class="text-2xl mb-8">Tags</h1>
  <div class="tags">
    {
      tags.map((tag) => (
        <a href={`/tags/${tag}`}>
          <span class="tag">{tag}</span>
        </a>
      ))
    }
  </div>
</BaseLayout>
