---
import "@/style/page.scss";
import BaseLayout from "@/layouts/BaseLayout.astro";

const allPosts: Array<object> = await Astro.glob("../posts/**/*.md");
const tags = [
  ...new Set(
    allPosts
      .map((post: any) => post.frontmatter.tags.split(",").map((tag: string) => tag.trim()))
      .flat()
  ),
];

const title = "Tag Index";
---

<BaseLayout title={title}>
  <h1 class="text-2xl my-8">태그 리스트</h1>
  <div class="tags">
    {
      tags.map((tag) => (
        <p class="tag">
          <a href={`/tags/${tag}`}>{tag}</a>
        </p>
      ))
    }
  </div>
</BaseLayout>
