---
import BaseLayout from "@/layouts/BaseLayout.astro";
import Greeting from "@/components/test/Greeting";

const identity = {
  title: "ν•μ¤„μ½”λ”©",
  categories: ["Web", "AI", "Library", "Tech Blog", "Portfolio", "IT κ΄€λ ¨ λ°", "μ„Έκ³„ μ •λ³µ"],
};
---

<BaseLayout title={"ν•μ¤„μ½”λ”© - About"}>
  <div
    class="min-h-screen text-gray-900 bg-white dark:bg-gray-950 dark:text-white flex flex-col justify-center items-center py-16"
  >
    <div
      class="text-center text-gray-800 bg-gray-100 dark:bg-gray-800 dark:text-white shadow-2xl rounded-2xl p-12 w-full max-w-2xl border-gray-800"
    >
      <h1 class="text-4xl font-semibold mb-6">ν•μ¤„μ½”λ”©μ— λ€ν•΄μ„</h1>
      <div class="text-xl text-gray-900 dark:text-white mb-4">
        <div class="mb-4">κ°λ°μλ“¤μ„ μ„ν•</div>
        <span class="font-semibold text-gray-900 dark:text-white">
          <a href="/trend" class="hover:text-sky-500"> Tech, AI </a>
        </span>
        <br />
        <span class="font-semibold text-gray-900 dark:text-white">
          <a href="/fun" class="hover:text-yellow-500"> λ°κ³Ό μ§¤ π </a>
        </span>
      </div>
      <p class="text-lg text-gray-900 dark:text-white mb-4">λ‹¤μ–‘ν• μ •λ³΄λ¥Ό μ κ³µν•λ” μ‚¬μ΄νΈμ…λ‹λ‹¤.</p>
      <p class="text-lg text-gray-900 dark:text-white">ν•μ¤„μ½”λ”©μ—μ„ μ κ³µν•λ”</p>
      <Greeting client:visible type={"visible"} messages={identity.categories} />
      <p class="text-lg text-gray-900 dark:text-white">κ΄€λ ¨ μ†μ‹μ„ ν™•μΈν•΄λ³΄μ„Έμ”.</p>
    </div>
  </div>
</BaseLayout>
