---
import BaseLayout from "@/layouts/BaseLayout.astro";
---

<BaseLayout title={"한줄코딩 - About"}>
  <main
    class="min-h-[60vh] max-w-[calc(100%-2rem)] flex flex-col justify-center items-center mx-auto text-[rgb(var(--foreground))] text-lg leading-relaxed m-4 sm:m-4"
  >
    <h1 class="font-['DungGeunMo'] text-5xl mt-4 mb-8 sm:mb-12 text-center">
      About
    </h1>
    <div
      class="text-center text-gray-800 bg-gray-100 dark:bg-gray-800 dark:text-white shadow-2xl rounded-2xl p-12 w-full max-w-2xl"
    >
      <p class="text-xl text-gray-900 dark:text-white mb-4">한줄코딩</p>
      <p class="text-lg text-gray-900 dark:text-white">
        개발과 관련된 정보를 한 줄씩 기록하는 공간입니다.
      </p>
    </div>
  </main>
</BaseLayout>
