---
import "@/style/page.scss";
import BaseLayout from "@/layouts/BaseLayout.astro";
import { contentfulClient } from "@/lib/contentful";
import type { BlogPost } from "@/lib/contentful";
import type { Entry } from "contentful";

const entries = await contentfulClient.getEntries<BlogPost>({
  content_type: "blogPost",
});

const posts = entries.items.map((item: Entry<BlogPost, undefined, string>) => {
  const { title, date, description, slug } = item.fields;
  return {
    title,
    slug,
    description,
    date: new Date(date).toLocaleDateString(),
  };
});
---

<BaseLayout title={"한줄코딩 - Blog"}>
  <h1 class="text-2xl mb-8">블로그</h1>
  <ul>
    {
      posts.map((post) => (
        <li>
          <time>{post.date}</time>
          <a class="text-slate-600 dark:text-slate-200" href={`/posts/blog/${post.slug}/`}>
            <div class="text-base">{post.title}</div>
            <div class="text-xs">{post.description}</div>
          </a>
        </li>
      ))
    }
  </ul>
</BaseLayout>
