---
import BaseLayout from "@/layouts/BaseLayout.astro";
import { contentfulClient } from "@/lib/contentful";
import type { BlogPost } from "@/lib/contentful";

const entries = await contentfulClient.getEntries<BlogPost>({
  content_type: "blogPost",
});

const posts = entries.items.map((item) => {
  const { title, date, description, slug } = item.fields;
  return {
    title,
    slug,
    description,
    date: new Date(date).toLocaleDateString(),
  };
});
---

<BaseLayout title={"Blog"}>
  <main>
    <ul>
      {
        posts.map((post) => (
          <li>
            <a href={`/post/blog/${post.slug}/`}>
              <h2>{post.title}</h2>
            </a>
            <time>{post.date}</time>
            <p>{post.description}</p>
          </li>
        ))
      }
    </ul>
  </main>
</BaseLayout>
