---
import "@/style/page.scss";
import BaseLayout from "@/layouts/BaseLayout.astro";
import Post from "@/components/Post.astro";

const funPosts = await Astro.glob("./posts/fun/*.{md,mdx}");
---

<BaseLayout title="한줄코딩 - Fun">
  <h1 class="text-2xl mb-8">밈 & 짤</h1>
  <ul>
    {funPosts.map((post) => <Post url={post.url} title={post.frontmatter.title} />)}
  </ul>
</BaseLayout>
