---
import BaseLayout from "@/layouts/BaseLayout.astro";
import Card from "@/components/Card.astro";
---

<BaseLayout title="">
  <main
    class="mx-auto p-4 w-[800px] max-w-[calc(100%-2rem)] text-[rgb(var(--foreground))] text-lg leading-relaxed"
  >
    <h1 class="font-['DungGeunMo'] text-6xl m-4 text-center">
      Welcome to <span class="">한줄코딩</span>
    </h1>

    <p class="instructions">
      이 프로젝트는 <code>Astro.js</code> 로 만들어졌으며, 현재 <strong>작업 중</strong> 입니다.<br
      />
    </p>
    <ul role="list" class="link-card-grid">
      <Card
        href="https://github.com/hanjulcoding/hanjulcoding"
        title="Repository"
        body="현재 작업 중인 이 사이트의 Repo"
      />
      <Card href="https://6lueparr0t.github.io" title="6lueparr0t's Home" body="개발자 홈페이지" />
    </ul>
  </main>
</BaseLayout>

<style>
  .instructions {
    margin-bottom: 2rem;
    border: 1px solid rgba(var(--foreground));
    padding: 1.5rem;
    border-radius: 8px;
  }
  .instructions code {
    font-size: 0.8rem;
    font-weight: bold;
    border: 1px solid rgba(var(--foreground));
    border-radius: 4px;
    padding: 0.3rem 0.4rem;
  }
  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 2rem;
    padding: 0;
  }
</style>
