---
import BaseLayout from "@/layouts/BaseLayout.astro";
import Card from "@/components/Card.astro";
---

<BaseLayout title="">
  <main
    class="min-h-[60vh] max-w-[calc(100%-2rem)] flex flex-col justify-center items-center mx-auto text-[rgb(var(--foreground))] text-lg leading-relaxed m-4 sm:m-4"
  >
    <h1 class="font-['DungGeunMo'] text-6xl mt-4 mb-8 sm:mb-16 text-center">
      <span class="">한줄코딩</span>
    </h1>
    <div class="">
      <div class="instructions">
        이 프로젝트는 <code>Astro.js</code> 로 만들어졌으며, 현재 <strong>지속적으로 작업 중</strong>인 상태 입니다.<br
        />
      </div>

      <ul role="list" class="link-card-grid mb-4">
        <Card
          href="https://github.com/hanjulcoding/hanjulcoding"
          title="Repository"
          body="현재 작업 중인 이 사이트의 Repo"
        />
        <Card
          href="https://6lueparr0t.github.io"
          title="6lueparr0t's Home"
          body="개발자 홈페이지"
        />
      </ul>
    </div>
  </main>
</BaseLayout>
