---
import "@/style/page.scss";
import BaseLayout from "@/layouts/BaseLayout.astro";
import Post from "@/components/Post.astro";
import { pubDateSort } from "@/lib/utils";

const memePosts = (await Astro.glob("./posts/meme/*.{md,mdx}")).sort(pubDateSort);
---

<BaseLayout title="한줄코딩 - meme">
  <h1 class="text-2xl mb-8">밈 & 짤</h1>
  <ul>
    {memePosts.map((post) => <Post url={post.url} title={post.frontmatter.title} />)}
  </ul>
</BaseLayout>
