---
import "@/style/page.scss";
import BaseLayout from "@/layouts/BaseLayout.astro";
import Post from "@/components/Post.astro";

const trendPosts = await Astro.glob("./posts/trend/*.md");
---

<BaseLayout title="한줄코딩 - Trend">
  <h1 class="text-2xl mb-8">IT 관련 소식들</h1>
  <ul>
    {trendPosts.reverse().map((post) => <Post url={post.url} title={post.frontmatter.title} />)}
  </ul>
</BaseLayout>
