@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'DungGeunMo';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/NeoDunggeunmoPro-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@mixin mobile() {
  @media only screen and (hover: none) and (pointer: coarse) {
    @content;
  }
}

@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin keyframes($animation-name) {
  @-webkit-keyframes #{$animation-name} {
    @content;
  }

  @-moz-keyframes #{$animation-name} {
    @content;
  }

  @-ms-keyframes #{$animation-name} {
    @content;
  }

  @-o-keyframes #{$animation-name} {
    @content;
  }

  @keyframes #{$animation-name} {
    @content;
  }
}

@mixin animation($str) {
  -webkit-animation: #{$str};
  -moz-animation: #{$str};
  -ms-animation: #{$str};
  -o-animation: #{$str};
  animation: #{$str};
}

@layer base {
  :root {
    --main: 241, 245, 249;
    /* #f1f5f9, zinc100 */
    --main-light: 250, 250, 250;
    /* #fafafa, zinc50*/
    --main-dark: 9, 9, 11;
    /* #09090B, zinc950*/

    --tag-border-color: #a1a1a1;

    --background: var(--main-light);
    --foreground: var(--main-dark);

    --main-gradient: linear-gradient(90deg,
        rgba(var(--background)) 0%,
        rgba(var(--foreground)) 60%);

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;

    code {
      font-family:
        Menlo,
        Monaco,
        Lucida Console,
        Liberation Mono,
        DejaVu Sans Mono,
        Bitstream Vera Sans Mono,
        Courier New,
        monospace;
    }

    .text-gradient {
      background-image: var(--main-gradient);
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
      background-size: 100%;

      // @include mobile() {
      //   background-size: 100%;
      // }
    }

    .home .typed-cursor--blink {
      background-color: rgba(var(--foreground));
      width: 7px;
      height: 83%;
      display: inline-block;
      transform: translateY(3px);

      @include mobile() {
        height: 50px;
      }
    }
  }

  .dark {
    --background: var(--main-dark);
    --foreground: var(--main-light);

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;

    background-color: rgb(var(--background));
    color: rgb(var(--foreground));
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    font-family: "Noto Sans KR", sans-serif;
  }

  .tags {
    display: flex;
    flex-wrap: wrap;
    margin: 1rem 0;
  }

  .tag {
    margin: 0.25rem;
    border: 1px solid rgba(var(--background));
    border-radius: 0.25rem;
    padding: .5rem;
    font-size: 1rem;
    background-color: rgba(var(--foreground));
    color: rgba(var(--background));
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;

    &:hover {
      border: 1px solid rgba(var(--foreground));
      background-color: rgba(var(--background));
      color: rgba(var(--foreground));
    }
  }
}