---
---

<div class="nav-links">
  <a href="/">home</a>
  <a href="/about">about</a>
  <a href="/trend">trend</a>
  <a href="/fun">fun</a>
  <a href="/blog">blog</a>
  {import.meta.env.NODE_ENV === "development" && (
  <a
    href="/admin/index.html"
    target="_blank"
    rel="noopener noreferrer"
    class="underline"
  >
    Admin
  </a>
  )}
</div>

<style>
  /* nav styles */

  .nav-links {
    width: 100%;
    top: 5rem;
    left: 48px;
    display: none;
    margin: 0;
  }

  .nav-links a {
    display: block;
    text-align: center;
    margin-bottom: 2rem;
    padding: 10px 0;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
  }

  .nav-links a:hover,
  .nav-links a:focus {
    background-color: rgb(var(--foreground));
    color:rgb(var(--background));
  }

  .expanded {
    display: unset;
  }

  @media screen and (min-width: 636px) {
    .nav-links {
      justify-content: center;
      display: flex;
      width: auto;
      background: none;
    }

    .nav-links a {
      display: inline-block;
      padding: 15px 20px;
    }
  }
</style>
